* {
    background-color: #202c39;
    color: #FFFFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

nav {
    margin-top: 20px;
    border: 7px solid;
    width: 70%;
    padding-left: 10px;
    margin-bottom: 8px;
}

header {
    padding-left: 10px;
    margin-top: 8px;
}

header h1 {
    font-size: 35px;
    margin-bottom: 4px;
}

header p {
    margin: 10px;
}

nav ul {
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
}

article {
    border: 7px solid;
    margin: 10px auto;
    width: 50%;
    padding-left: 10px;
    padding-top: 10px;
    display: inline-flex;
    max-width: 50%;
}

article p {
    margin: 10px;
}

article img {
    max-width: 30%;
    margin-top: 10px;
}

div {
    border: 7px solid;
    margin: 10px auto;
    width: 46%;
    padding-left: 10px;
    padding-top: 10px;
    display: inline-flex;
    max-width: 46%;
    float: right;
}

div img {
    max-width: 30%;
    margin-top: 10px;
}

div p {
    margin: 10px;
}

article h1 {
    font-size: 30px;
}

div h1 {
    font-size: 30px;
}

footer {
    border: 7px solid;
    margin-top: 330px;
}

footer p {
    margin: 10px;
    text-align: center;
}